* {
    box-sizing: border-box;
 }
 body{
     background-color: mediumpurple;
 }
 div{
     border: 1px mediumpurple solid;
     width: 33.33%;
     float: left;
     position: relative;
     padding: 10px;   
     padding-top: 60px;
     color: black;
     background-color: mediumspringgreen;
 }
 p{
     text-align: center;
 }

 div p.title{
     border: 1px maroon solid;
     position: absolute;
     width: 35%;
     height: 30%;
     top: 0;
     bottom: 0;
     right: 0;
     font-weight: bold;
     background-color: limegreen;
     
 }
 h1{
     text-align: center;
     padding-top: 5%;
     padding-bottom: 5%;
     font-family: fantasy;
 }

 @media (max-width: 992px) {
    div.box1 {
        width: 50%;
    }
    div.box2 {
        width: 50%;
    }
    div.box3 {
        width: 50%;
    }
 }
 @media (min-width: 768px) and (max-width: 991px) {
    div.box1{
        width: 50%;
    }
    div.box2{
        width: 50%;
    }
    div.box3{
        width: 100%;
    }
 }
 @media (min-width: 767px){
    div {
        width: 100%;
    }
 }
